:root {
    --background-dark: #202020;
    --background: #303030;
    --background-light: #424242;
    --background-lighter: #646464;
    --foreground: #f6f6f6;

    color: var(--foreground);
    background-color: var(--background);
    margin-top: 64px;
    font-family: 'Roboto', 'Helvetica', 'Arial'
}

.icon {
    vertical-align: middle;
}

.container {
    background-color: var(--background-light);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}